<h1>Welcome to Eat Fresh Cookbook </h1>


<%= form_tag(search_path, method: :get) do %>
  <p> Search other for recipe ideas</p>
  <%= text_field_tag :options %>
  <%=submit_tag "Search!" %>

  

<% end %>
